﻿@model FanfikSite.Models.HomeViewModels.IndexViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/Main.css" />
</environment>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <div class="btn-group-vertical justify-content-end">
                    <button type="button" class="btn btn-light vertical-text new">@Localizer["New"]</button>
                    <button type="button" class="btn btn-light vertical-text popular">@Localizer["Popular"]</button>
                </div>
            </div>
            <div class="col-md-9">
                <section class="main">
                    <form class="search" method="post" asp-action="Search" asp-controller="Home">
                        <input type="text" id="search" name="search" placeholder=@Localizer["Search"] autocomplete="off"/>
                        <div class="search-results">
                        </div>
                        
                    </form>
                </section>
                <hr />
                <div class="col-md-12 new">
                @foreach (var fanfik in Model.Fanfiks)
                {
                    <div class="col-md-3 col-lg-3 col-sm-3 post">
                        <div class="image">
                            @if (fanfik.Image != null)
                            {
                                <div class="post_image">
                                    <a asp-controller="Post" asp-action="Get" asp-route-id="@fanfik.Id"><img src="@fanfik.Image" /></a>
                                </div>
                            }
                            else
                            {
                                <div class="post_image">
                                    <a asp-controller="Post" asp-action="Get" asp-route-id="@fanfik.Id"><img src="~/images/no-image.jpg" /></a>
                                </div>
                            }
                        </div>
                        <h4>@fanfik.Title</h4>
                        <h5>@fanfik.Created</h5>
                        <h4>@Localizer["Rating"] @fanfik.Rating</h4>
                    </div>
                }
                 </div>
            </div>
            <div class="col-md-2">
                <h3>@Localizer["popularTag"]</h3>
                @foreach(var tag in Model.Tags)
                {
                    <a asp-action="Search" asp-controller="Home" class="tag" asp-route-search="#@tag.Name"><p class="tag">#@tag.Name</p></a>
                }
            </div>

        </div>
    </div>
</section>


<environment include="Development">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/search.js"></script>
</environment>