﻿@model FanfikSite.Models.HomeViewModels.SearchViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/Main.css" />
</environment>

<div class="container">
    <div class="row">
        <h2>@Localizer["Search"] "@Model.SearchString"</h2>
        <div class="col-md-12">
            @foreach (var fanfik in Model.Fanfiks)
            {
                <div class="col-md-3 col-lg-3 col-sm-3 post">
                    <div class="image">
                        @if (fanfik.Image != null)
                        {
                            <div class="post_image_search">
                                <a asp-controller="Post" asp-action="Get" asp-route-id="@fanfik.Id"><img src="@fanfik.Image" /></a>
                            </div>
                        }
                        else
                        {
                            <div class="post_image_search">
                                <a asp-controller="Post" asp-action="Get" asp-route-id="@fanfik.Id"><img src="~/images/no-image.jpg" /></a>
                            </div>
                        }
                    </div>
                    <h4>@fanfik.Title</h4>
                    <h5>@Localizer["Create"] @fanfik.Created.ToString("d")</h5>
                    <h6>@Localizer["Chapters"] @fanfik.Chapters.Count</h6>
                </div>
            }
        </div>
    </div>
</div>