﻿@model FanfikSite.Models.PostViewModels.GetChapterViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}
<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/Post.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-rating/bootstrap-rating.css" />
</environment>

<div class="container">
    <div class="row">
        <div class="col-md-1">
            <div class="consolidate">
                <div class="manager">
                    <div class="button">
                        <a asp-action="Get" asp-controller="Post" asp-route-id="@Model.Fanfik.Id" class="btn soderj-button glyphicon glyphicon-list" title="@Localizer["Content"]"></a>
                    </div>
                    @if (Model.Chapter.SerialNumber != 1)
                    {
                        <div class="button">
                            <a 
                                asp-action="Chapter"
                                asp-controller="Post"
                                asp-route-id="@Model.Fanfik.Chapters.Single(c => c.SerialNumber == Model.Chapter.SerialNumber - 1).Id"
                                class="btn soderj-button glyphicon glyphicon-chevron-left"
                                title="@Localizer["Previous"]">
                            </a>
                        </div>
                    }
                    @if (Model.Chapter.SerialNumber != Model.Fanfik.Chapters.Count)
                    {
                        <div class="button">
                            <a 
                               asp-action="Chapter"
                               asp-controller="Post"
                               asp-route-id="@Model.Fanfik.Chapters.Single(c => c.SerialNumber == Model.Chapter.SerialNumber + 1).Id"
                               class="btn soderj-button glyphicon glyphicon-chevron-right"
                               title="@Localizer["Next"]">
                            </a>
                        </div>
                    }
                    <div class="button">
                        <a class="btn soderj-button glyphicon glyphicon glyphicon-chevron-up" href="#up" title="@Localizer["Up"]"></a>
                    </div>
                    <div class="button">
                        <a asp-action="DownloadPdf" asp-controller="Post" asp-route-id="@Model.Fanfik.Id" class="btn soderj-button glyphicon glyphicon glyphicon-floppy-disk" title="@Localizer["DownloadPDF"]"></a>

                    </div>
                    <div class="button">
                        <a class="btn soderj-button glyphicon glyphicon-cog post_setting" title="@Localizer["Settings"]" ></a>
                    </div>
                    <div class="setting invis">
                        <div><h5 class="text-center">@Localizer["Font"]</h5></div>
                        <hb />
                        <button class="btn btn-default arial">Arial</button>
                        <button class="btn btn-default georgia">Georgia</button>
                        <button class="btn btn-default roboto">Roboto</button>
                        <div><h5 class="text-center bold">@Localizer["Size"]</h5></div>
                        <hb/>
                        <div class="size">
                            <button class="btn btn-default 14 fsize">14</button>
                            <button class="btn btn-default 16 fsize" >16</button>
                            <button class="btn btn-default 18 fsize">18</button>
                        </div>

                        <div class="toggle-box">
                            <h5 class="text-center">@Localizer["ReadingMode"]</h5>
                            <input type="checkbox" name="checkbox1" id="toggle-box-checkbox" />
                            <label for="toggle-box-checkbox" class="toggle-box-label-left"></label>
                            <label for="toggle-box-checkbox" class="toggle-box-label"></label>

                        </div>
               
                    </div>
                    <div class="button text-center" id="progress" style="display: none"></div>
                </div>
            </div>
        </div>
        <div class="col-md-11 col-md-offset-1">
            <div class="chapter">
                <a name="up"></a>
                <h2 class="text-center">@Model.Fanfik.Title</h2>
                <h3 class="text-center">@Localizer["Part"] @Model.Chapter.SerialNumber.@Model.Chapter.Name</h3>
                @if (User.Identity.IsAuthenticated)
                {
                    <input type="hidden" id="userId" value="@UserOperation.GetCurrentUser(User).Id" />
                    <input type="hidden" id="chapterId" value="@Model.Chapter.Id" />
                }

                @if (Model.Chapter.OptionIlistrutation != null)
                {
                    <img src="@Model.Chapter.OptionIlistrutation">
                }

                <div class="bs-docs-example">
                    <pre>@Html.Raw(Model.Chapter.Context)</pre>
                </div>
            </div>
            
            <div class="none">
                @if (User.Identity.IsAuthenticated)
            {
                    @if (Model.Rating != null)
                {
                        <hr />
                        <h3>@Localizer["Rating"] </h3><input type="hidden" class="rating" data-filled="fa fa-star fa-2x" data-empty="fa fa-star-o fa-2x" value="@Model.Rating.Value" disabled />
                        <hr />
                    }
                    else
                    {
                        <h3>@Localizer["Rating"] </h3><input type="hidden" class="rating" data-filled="fa fa-star fa-2x" data-empty="fa fa-star-o fa-2x" />
                    }
                }
            </div>

          
            <h2 class="text-left none">@Localizer["Comments"]</h2>
            <input  type="hidden" id="fanfikId" value="@Model.Fanfik.Id">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="row comment none">
                    <div class="col-md-1 user_photo">
                        @if(UserOperation.GetCurrentUser(User).Avatar != null)
                        {
                            <img class="img-circle" src="@UserOperation.GetCurrentUser(User).Avatar" />
                        }
                        else
                        {
                            <img class="img-circle" src="~/images/no_avatar.png" />
                        }
                        
                    </div>
                    <div class="col-md-11">
                        <div class="text_comment">
                            <div class="comment_info">
                                <h5>@User.Identity.Name</h5>
                                <h5>DD:MM:YY</h5>
                            </div>

                            <div class="input">
                                <div class="col-md-10">
                                    <input id="commentId" class="form-control" placeholder="@Localizer["Comment"]" />
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-default submit">@Localizer["Send"]</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
            <div class="add none">
                <input type="hidden" id="comments-count" name="comments-count" value="@Model.Comments.Count">
                @foreach (var comment in Model.Comments)
                {
                    <div class="row comment">
                        <div class="col-md-1 user_photo">
                            @if(comment.Creator.Avatar!= null)
                            {
                                <img class="img-circle" src="@comment.Creator.Avatar" />

                            }
                            else
                            {
                                <img class="img-circle" src="~/images/no_avatar.png" />
                            }
                            
                        </div>
                        <div class="col-md-11">
                            <div class="text_comment">
                                <div class="comment_info">
                                    <h5>@comment.Creator.UserName</h5>
                                    <h5>@comment.Created</h5>
                                </div>
                                 <p class="text-left comm">@comment.Content</p>
                                @if (Model.LikeComments.Contains(comment.Id))
                                {
                                    <button class="btn btn-xs btn-info add-like" data-id="@comment.Id" disabled style="width:35px"><span class="glyphicon glyphicon-heart">@comment.Likes.Count</span></button>
                                }
                                else
                                {
                                    <button class="btn btn-xs btn-info add-like" value="" data-id="@comment.Id" style="width:35px"><span class="glyphicon glyphicon-heart">@comment.Likes.Count</span></button>
                                }
                            </div>
                        </div>
                    </div>
                }
           </div>
       </div>
    </div>
</div>

<environment include="Development">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/js/comment.js"></script>
    <script src="~/js/post.js"></script>
    <script src="~/js/load.js"></script>
    <script src="~/lib/bootstrap-rating/bootstrap-rating.js"></script>
    <script src="~/lib/bootstrap-rating/Gruntfile.js"></script>
</environment>