﻿@model FanfikSite.Models.PostViewModels.PostViewModel


<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/CreatePost.css" />
</environment>


<div class="col-md-8 col-md-offset-2">

    <h2 class="text-center">@Localizer["CreateFanfik"]</h2>
    <form asp-action="CreatePost" asp-controller="Post" asp-route-creatorId="@Model.CreatorId" method="post" id="CreatePost" enctype="multipart/form-data">
        <input type="hidden" asp-for="CreatorId" value="@Model.CreatorId">
        <div class="form-group">
            <h4>@Localizer["Title"]</h4>
            <input asp-for="Title" class="form-control"/>
        </div>
        <div class="form-group">
            <h4>@Localizer["Shortcut"]</h4>
            <textarea asp-for="Shortcut"  class="textarea"></textarea>
        </div>
        <div class="form-group">
            <h4>@Localizer["Tags"]</h4>
            <input asp-for="Tags" class="form-control" />
        </div>
        <div class="form-group">
            <h4>@Localizer["Genre"]</h4>
            <select asp-for="Genre" class="form-control">
                <option disabled>@Localizer["Chose"]</option>
                @foreach(var genre in Model.Genres)
                {
                    <option value="@genre.Name">@genre.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="file" name="Photo" asp-for="Photo" title="@Localizer["Drop"]"/>
        </div>

        <button type="submit" class="btn btn-default">@Localizer["Create"]</button>
    </form>
</div>


