﻿@model FanfikSite.Models.PostViewModels.EditPostViewModel


<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/CreatePost.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/dropzone.css" />
</environment>

<div class="col-md-8 col-md-offset-2">
    <h2 class="text-center">@Localizer["Edit"]</h2>
    <form asp-action="EditPost" asp-controller="Post" asp-route-id="@Model.Id" method="post" id="CreatePost" enctype="multipart/form-data">
        <input type="hidden" name="Id" asp-for="Id" value="@Model.Id" />
        <div class="form-group">
            <h4>@Localizer["Title"]</h4>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="form-group">
            <h4>@Localizer["Shortcut"]</h4>
            <textarea asp-for="Shortcut" class="textarea"></textarea>
        </div>
        <div class="form-group">
            <h4>@Localizer["Ganre"]</h4>
            <input asp-for="Genre" class="form-control" />
        </div>
        <div class="row">
            <div class="form-group">
                <h4>@Localizer["Old"]</h4>
                <hr />
                @if (Model.Image != null)
                {
                    <img src="@Model.Image">
                }
                else
                {
                    <img src="~/images/no-image.jpg">
                }
            </div>
            <div class="form-group new_image">
                <h4>@Localizer["New"]</h4>
                
                <hr />
                <input type="file" id="Photo" name="NewImage" asp-for="NewImage" title="@Localizer["Drop"]" />
            </div>
        </div>
        <button type="submit" class="btn btn-default">@Localizer["EditButton"]</button>
    </form>
</div>

<environment include="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/dropzone.js"></script>
</environment>
