﻿@model FanfikSite.Models.PostViewModels.EditChapterViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/editor.css" />
    <link rel="stylesheet" type="text/css" href="~/css/AddChapter.css" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
</environment>

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <form asp-action="EditChapter" asp-controller="Post" asp-route-FanfikFk="@Model.FanfikFk" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <h3>@Localizer["TitleChapter"]</h3>
                <input asp-for="Name" class="form-control" placeholder="@Localizer["TitleChapter"]" />
            </div>
            <hr />
            <div class="row">
                <div>
                    @if (Model.OptionIlistrutation != null)
                    {
                        <div class="form-group">
                            <h3>@Localizer["Old"]</h3>
                            <img src="@Model.OptionIlistrutation">

                        </div>
                    }
                </div>
                <div class="new">
                    <h3>@Localizer["New"]</h3>
                    <div class="form-group">
                        <input type="file" asp-for="NewOptionIlistrutation" id="Photo" title="@Localizer["Drop"]" />
                    </div>
                </div>

            </div>

            <hr />
            <div class="form-group">
                <h3>@Localizer["Context"]</h3>
                <textarea asp-for="Context" id="editor" rows="10"></textarea>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="FanfikFk" />
            </div>

            <button type="submit" class="btn btn-default">@Localizer["Edit"]</button>
        </form>

    </div>
</div>
<environment include="Development">
    <script src="~/js/editor.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/dropzone.js"></script>
</environment>
