﻿@model FanfikSite.Models.PostViewModels.GetPostViewModel
@{
    ViewData["Title"] = Localizer["Title"];

    var isAdmin = false;
    if (User.Identity.IsAuthenticated)
    {
        var roles = await UserManager.GetRolesAsync(UserOperation.GetCurrentUser(User));
        isAdmin = roles.Contains("Admin");
    }
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/PostPage.css" />
</environment>

<div class="col-md-8 col-md-offset-2">
    <div class="title">
        <h1>@Model.Fanfik.Title</h1>
    </div>

    <div class="releaseImg pull-left">
        <a class="fancybox">
            @if (Model.Fanfik.Image != null)
            {
                <img width="240" src=@Model.Fanfik.Image alt=@Model.Fanfik.Title>
            }
            else
            {
                <img width="240" src="~/images/no-image.jpg" alt=@Model.Fanfik.Title>
            }
        </a>
    </div>
    <div class="aboutRelease">
        <h2 class="discription">@Localizer["Information"]</h2>
        <div><strong class="discription">@Localizer["TitleFanf"]</strong><span>: @Model.Fanfik.Title</span></div>
        <div><strong class="discription">@Localizer["Author"]</strong><span>:
            @if(Model.Fanfik.Creator == null)
            {
                <b>@Localizer["NoAuthor"]</b>
            }
            else
            {
                @Model.Fanfik.Creator.UserName
            }
           </span></div>
        <div><strong class="discription">@Localizer["Creation"]</strong><span>: @Model.Fanfik.Created</span></div>
        <div><strong class="discription">@Localizer["Tags"]</strong>
            <span>
                :
                @foreach (var tag in Model.Tags)
                {
                    <a asp-action="Search" asp-controller="Home" asp-route-search="#@tag.Name"><i> #@tag.Name</i></a>
                }
            </span>
        </div>
        <div class="btndownload">
            <a asp-action="DownloadPdf" class="btn btn-default" asp-controller="Post" asp-route-id="@Model.Fanfik.Id"><span class="glyphicon glyphicon-floppy-disk"></span>@Localizer["DownloadPDF"]</a>
        </div>
        <div style="display:none"></div>
        <h2 style="clear:left">@Localizer["Description"]</h2>
        <div class="annotation">
                @Html.Raw(Model.Fanfik.Shortcut)
        </div>
    </div>

    <h2 style="clear:left">@Localizer["Chapters"]</h2>
    <div class="ranobeList">
        @foreach (var chapter in Model.Chapters.OrderBy(c => c.SerialNumber))
        {
            <div>
                <div class="pull-left bold" style="width:70.0px;">@Localizer["Chapter"] @chapter.SerialNumber</div>
                <a asp-action="Chapter" asp-controller="Post" asp-route-id="@chapter.Id">@chapter.Name</a>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (UserOperation.GetCurrentUser(User).Equals(Model.Fanfik.Creator) || (UserOperation.IsAdmin(UserOperation.GetCurrentUser(User).Id).GetAwaiter().GetResult()))
                    {
                        <a asp-controller="Post" asp-action="EditChapter" asp-route-id="@chapter.Id"><i class="fa fa-pencil">@Localizer["Edit"]</i></a>
                    }
                }
            </div>
        }
    </div>
</div>

@if ((Model.Fanfik.Creator == UserOperation.GetCurrentUser(User)) || isAdmin)
{
    <div class="col-md-2">
        <div class="module_name opened">
            <h4>@Localizer["Action"]</h4>
        </div>
        <div class="actions">
            <div class="update-publish">
                <a asp-controller="Post" asp-action="AddChapter" asp-route-fanfikId="@Model.Fanfik.Id" title="Add chapter" style="color: #000;">@Localizer["AddChapter"]</a>
            </div>
            <div class="update-publish">
                <a asp-controller="Post" asp-action="DeletePost" asp-route-id="@Model.Fanfik.Id" title="Delete fanfik" style="color: #000;">@Localizer["DeleteFanfik"]</a>
            </div>
            <div class="update-publish">
                <a asp-controller="Post" asp-action="EditPost" asp-route-id="@Model.Fanfik.Id" title="Edit Fanfik" style="color: #000;">@Localizer["EditFanfik"]</a>
            </div>
        </div>
    </div>
}
