﻿@model FanfikSite.Models.PostViewModels.PdfViewModel

<environment inlude="Developer">
    <link rel="stylesheet" href="~/css/site.css" />
</environment>


<head>
    <meta charset="utf-8" />
</head>
<div class="container">
    <div class="row">
        <h1>@Model.Fanfik.Title</h1>
        @if (Model.Fanfik.Image != null)
        {
            <img src="@Model.Fanfik.Image">
        }
        <h2>Creator : @Model.Fanfik.Creator.UserName</h2>
    </div>
    
    <div class="col-md-11">
        @foreach (var chapter in Model.Fanfik.Chapters)
        {
            <h3 class="text-center">Part @chapter.SerialNumber. @chapter.Name</h3>
            <div class="bs-docs-example">
                <pre wrap="hard">
                    @Html.Raw(chapter.Context)
                </pre>
            </div>
        }
    </div>
 </div>