﻿textarea {
    resize: vertical;
    width: 100%;
}


.btn {
    width: 100%;
}

input#Photo {
    width: 100%;
    height: 150px;
    border: 3px dashed #807d7d;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

img{
    width: 250px;
}

.row{
    display: flex;
}

.new{
    margin-left: 25px;
    width: 100%;
}