﻿.modal {
    background: #e6e1e1;
    color: #808080
}

.li {
    list-style: none;
    background-color: #f1f1f1;
    border-radius: 3px;
    border: 1px solid #d6d1d1;
    width: 100%;
    padding: 5px;
}

td.invis{
    display: none;
}

.visible{
    display: block;
}

a{
    text-decoration: none;
    text-transform: none;
    color: #000000;
    cursor: pointer;
}