﻿h2{
    margin-bottom: 25px;
}

input#Photo {
    width: 100%;
    height: 150px;
    border: 3px dashed #807d7d;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

textarea#Shortcut.textarea{
    resize: vertical;
    width: 100%;
}

img{
    width:140px;
}

.new_image{
    margin-left: 20px;
    width: 100%;
}

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}

    .upload-drop-zone.drop {
        color: #222;
        border-color: #222;
    }

.row{
    display: flex;
}