﻿h2, h4 {
    text-align: center;
}

.form-login, .form-register {
    justify-content: center;
}

.form-group {
    justify-content: center;
    text-align: center;
}

.col-md-4 {
    margin-top: 20px;
    padding-bottom: 20px;
}

.center{
    text-align: center;
    display: block;
}

p{
    display: flex;
    justify-content: center;
}

#social {
    border-radius: 100px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 6px;
    width: 40px;
}
