﻿.vertical-text {
    transform: rotate(270deg);
    transform-origin: left top 0;
    margin-bottom: 100px;
}



p.tag {
    padding: 4px;
    background-color: #c4c7d7;
    color: #000;
    border-radius: 4px;
    width: fit-content;
}

.post_image {
    height: 215px;
}

.post_image_search {
    height: 250px;
}

button.btn.btn-light.vertical-text {
    width: 130px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.col-md-9 {
    border-right: 1px solid;
    border-left: 1px solid;
}

.col-md-2 {
    margin-top: 25px;
    padding-right: 0px;
}

.col-md-1 {
    padding-right: 0px;
    padding-left: 65px;
}

.col-md-3{
    height: 350px;
}

button.new, button.positive, #label {
    width: 130px;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group-vertical {
    margin-top: 195px;
}

input{
    width: 100%;
}

img {
    width: 100%;
    margin-top: 20px;
}

.input-group {
    width: 100%;
}

h4{
    text-align: center;
}

h5{
    margin-left: 10px;
}

h6 {
    margin-left: 10px;
}
.search-results {
    position: relative;
}

.search-data {
    list-style: none;
    z-index: 999;
    background-color: #F3F3F3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.search-data li {
    padding: 0.5em;
}

.search-data li:hover a {
    color: #D9D9D9;
}

.search-data li:not(:first-of-type) {
    border-top: 1px solid #A1A1A1;
}

    .search-data li a {
        font-size: 0.9rem;
        color: #A1A1A1;
        text-decoration: none;
    }

.col-md-12{
    padding: 0px;
}

.col-md-4 {
    margin: 15px 0px;
    padding:0px;
}

.image {
    justify-content: center;
}


.search {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

    .search input {
        margin-top: 25px;
        height: 26px;
        width: 100%;
        padding: 0 12px 0 25px;
        background: white url("https://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
        border-width: 1px;
        border-style: solid;
        border-color: #a8acbc #babdcc #c0c3d2;
        border-radius: 13px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
        -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
        -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
        -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
        box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    }

        .search input:focus {
            outline: none;
            border-color: #66b1ee;
            -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
            -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
            -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
            -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
            box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
        }

            .search input:focus + .results {
                display: block
            }

    .search .results {
        display: none;
        position: absolute;
        top: 35px;
        left: 0;
        right: 0;
        z-index: 10;
        padding: 0;
        margin: 0;
        border-width: 1px;
        border-style: solid;
        border-color: #cbcfe2 #c8cee7 #c4c7d7;
        border-radius: 3px;
        background-color: #fdfdfd;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
        background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
        background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
        background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
        background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
        background-image: linear-gradient(top, #fdfdfd, #eceef4);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

        .search .results li {
            display: block
        }

            .search .results li:first-child {
                margin-top: -1px
            }

                .search .results li:first-child:before, .search .results li:first-child:after {
                    display: block;
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    left: 50%;
                    margin-left: -5px;
                    border: 5px outset transparent;
                }

                .search .results li:first-child:before {
                    border-bottom: 5px solid #c4c7d7;
                    top: -11px;
                }

                .search .results li:first-child:after {
                    border-bottom: 5px solid #fdfdfd;
                    top: -10px;
                }

                .search .results li:first-child:hover:before, .search .results li:first-child:hover:after {
                    display: none
                }

            .search .results li:last-child {
                margin-bottom: -1px
            }

        .search .results a {
            display: block;
            position: relative;
            margin: 0 -1px;
            padding: 6px 40px 6px 10px;
            color: #808394;
            font-weight: 500;
            text-shadow: 0 1px #fff;
            border: 1px solid transparent;
            border-radius: 3px;
        }

            .search .results a span {
                font-weight: 200
            }

            .search .results a:before {
                content: '';
                width: 18px;
                height: 18px;
                position: absolute;
                top: 50%;
                right: 10px;
                margin-top: -9px;
                background: url("https://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;
            }

            .search .results a:hover {
                text-decoration: none;
                color: #fff;
                text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
                border-color: #2380dd #2179d5 #1a60aa;
                background-color: #161617;
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
                background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
                background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
                background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
                background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
                background-image: linear-gradient(top, #59aaf4, #338cdf);
                -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
                -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
                -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
                -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
                box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
            }

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input {
    line-height: 26px
}


.spinner {
    display: block;
    position: fixed;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    visibility: hidden;
}


@media screen and (max-width: 1200) {
    .col-md-1 {
        padding-left: 45px;
    }
}

@media screen and (max-width: 991px) {
    div.col-md-1 {
        display: none;
    }
}

@media screen and (max-width: 1200) {
    .col-md-1 {
        padding-left: 45px;
    }
}


@media screen and (max-width: 1000px) {
    .post_image {
        width: 150px;
    }
}

@media screen and (max-width: 767px) {
    .col-md-3, col-lg-3, col-sm-3 {
        display: flex;
    }

    h4 {
        margin-top: 75px;
        margin-left: 75px;
    }

    h5 {
        margin-top: 75px;
        margin-left: 15px;
    }
}