﻿.ranobeList > div > .pull-left {
    font-size: 13px;
    background: #e7e7e7;
    width: 55px;
    text-align: center;
    margin-right: 5px
}

.flex{
    display: flex;
}

input#Photo {
    width: 100%;
    height: 150px;
    border: 3px dashed #807d7d;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.ranobeList > div:hover {
    background: #f2f2f2
}

.ranobeList > div {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 5px 5px
}

.ranobeList > div > a {
    text-transform: none;
    text-decoration: none;
}

main > .ranobeList > div > a:hover {
    color: #60A9D4
}

img{
    margin-right: 15px;
    margin-bottom: 15px;
}

.actions > div {
    padding: 5px;
    width: 100%;
    background: 10px 50% no-repeat #F2F2F2;
    margin-bottom: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word
}

    .actions > div > a[href]:hover {
        border-bottom: 1px dashed #4d4d4d
    }


a.more {
    float: right;
    color: #858585;
    border-bottom: 1px dashed #858585
}

.module_name {
    color: #4d4d4d;
    cursor: pointer
}

h4 {
    margin-top: 20px;
}

.glyphicon glyphicon-floppy-disk {
    margin-top: 2px;
}

.title {
    display: flex;
}


.download {
    right: 0px;
    margin-top: 27px;
}

@media screen and (max-width:991px) {
    .col-md-2 {
        display: none;
    }
}