﻿.toggle-box-label-left:empty {
    margin-left: -10px;
}

.toggle-box-label-left:before,
.toggle-box-label-left:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*transition*/
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    outline: none;
}

.toggle-box input[type=checkbox],
.toggle-box input[type=checkbox]:active {
    position: absolute;
    top: -5000px;
    height: 0;
    width: 0;
    opacity: 0;
    border: none;
    outline: none;
}

.toggle-box label {
    display: inline-block;
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    /*color: rgba(149, 149, 149, 0.51);*/
    color: #ddd9d9;
    font-weight: normal;
}

.toggle-box-label-left:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    line-height: 34px;
    text-indent: 40px;
    height: 16px;
    width: 16px;
    margin: 4px;
    /*border-radius*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    right: 26px;
    bottom: 0px;
    background: #eee;
    transform: rotate(-45deg);
    box-shadow: 0 0 10px white;
}

.toggle-box-label-left:after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 24px;
    /*border-radius*/
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.15);
    vertical-align: middle;
    margin: 0 10px;
    border: 2px solid #FFB200;
}

.toggle-box input[type=checkbox]:checked + .toggle-box-label-left:before {
    right: 17px;
    box-shadow: 5px 5px 0 0 #eee;
    background: transparent;
}

.toggle-box input[type=checkbox]:checked + .toggle-box-label-left:after {
    background: rgba(0, 0, 0, 0.15);
    border: 2px solid white;
}

.toggle-box input[type=checkbox] + .toggle-box-label-left {
    color: rgba(250, 250, 250, 0.51);
    font-weight: bold;
}

.toggle-box input[type=checkbox]:checked + .toggle-box-label-left {
    color: rgba(149, 149, 149, 0.51);
    font-weight: normal;
}

    .toggle-box input[type=checkbox]:checked + .toggle-box-label-left + .toggle-box-label {
        color: rgba(250, 250, 250, 0.51);
        font-weight: bold;
    }

h3,h2{
    color: #000;
}

h5{
    margin: 10px;
    color: #000;
}

#dropdownMenu1 {
    width: 100%;
}

#fontslide{
    margin: 0px;
}

btn{
    width: 100%;
}


.setting {
    background: #b3b3b3;
    border-radius: 8px;
    padding: 5px 10px;
}

.black {
    background-color: #424242;
}
.chapter{
    background-color: #fff;
    border-radius: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

pre {
    font-size: 16px;
}

.invis{
    display: none;
}

.invisible {
    display: none;
}

.visible{
    display: block;
}

.font_size_14{
    font-size: 14px;
}

.font_size_16 {
    font-size: 16px;
}

.font_size_18 {
    font-size: 18px;
}

.size {
    width: 100%;
}

.fsize {
    width: 31%;
}

.arial {
    font-family: 'Arial', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.georgia {
    font-family: 'Georgia', sans-serif;
}

fontslider {
    border: 1px solid #000000;
}

.comment {
    border: 1px solid #050505;
    border-radius: 15px;
    background-color: #dedfe0;
    margin: 20px 0px;
}

img{
    width: 100%;
    margin-top: 15%;
}

.user_photo{
    justify-content: center;
    align-items: center;
}

p{
    font-size: 14px;
    color: #000;
}

.comm {
    margin-left: 10px;
}

.comment_info{
    display: flex;
}

input{
    width: 100%;
    margin-left: 10px;
}

.page {
    margin-top: 15px;
    text-indent: 40px;
}

.consolidate {
    z-index: 0;
}

.manager {
    margin-top: 25px;
    position: fixed;
    z-index: 9999;
}

.button {
    background-color: #ddd9d9;
    margin-bottom: 1px;
    width: 50px;
}

.soderj-button {
    height: calc(width);
    padding: 10px 5px;
}

a{
    text-decoration: none;
    text-transform: none;
    color: #000000;
    height: 100%;
    width: 100%;
}

.soderj-button:hover {
    color: #ddd9d9
}


.button:hover {
    background-color: #514f4f;
    color: #ddd9d9
}

.input{
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.submit{
    height: 35px;
    width: 100%;
}

.col-md-10 {
    padding: 0px;
}

.col-md-2 {
    padding: 0px;
}

@media screen and (max-width: 1000px) {
    .user_photo{
        width: 100px;
    }
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars {
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}