﻿.user_photo {
    justify-content: center;
}

.local{
    margin: 10px;
}

.user {
    border: 1px solid #050505;
    border-radius: 30px;
    margin: 15px;
}

.user_character {
    padding-top: 15px;
    margin: 15px;
    border: 1px solid #050505;
    border-radius: 30px;
}

img {
    margin-top: 20px;
    width: 100%;
}

.row {
    display: flex;
}

h5 {
    margin: 10px 15px 20px 15px
}

.display_count_story_comment {
    justify-content: flex-end;
}

h4 {
    text-align: center;
}

.story {
    justify-content: flex-start;
    margin-top: 15px;
    border: 1px solid #050505;
    border-radius: 30px;
    padding: 15px;
    padding-bottom: 15px;
}

.table {
    margin-bottom: 0px;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.btn {
    width: 100%;
    padding: 0px;
}

input {
    width: 100%;
}

a {
    text-decoration: none;
    text-transform: none;
}

@media screen and (max-width: 695px) {
    .row {
        flex-direction: column;
    }
}
