﻿pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: normal !important;
    font-size: 16px;
}

html {
    font-size: 16px;
    background-color: #fff;
}

body {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, p, td, tr, label, strong, i, span, a {
    color: #000000;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

span.hidden-xs.hidden-sm{
    color: #fff;
}

.img-circle {
    border-radius: 35%;
}
