﻿@model LoginViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/log_in.css" />
</environment>

<header>
    <div class="= col-md-4 col-md-offset-4">
        <h2>@ViewData["Title"]</h2>
        <p class="text-danger">@Localizer["Dont"]</p>
    </div>
</header>
