﻿@{
    ViewData["Title"] = Localizer["Title"];
}

<environment include="development">
    <link rel="stylesheet" href="~/css/log_in.css" />
</environment>

<div class="= col-md-4 col-md-offset-4">
    <h2>@ViewData["Title"]</h2>
    <p>
        @Localizer["Thank"]
    </p>
</div>
