﻿@model ExternalLoginViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<environment include="Dvelopment">
    <link rel="stylesheet" type="text/css" href="~/css/log_in.css"/>
</environment>


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>@ViewData["Title"]</h2>
        <h4>@Localizer["Associate"] @ViewData["LoginProvider"] @Localizer["Account"].</h4>
        <hr />

        <p class="text-info">
            @Localizer["Successfully"] <strong>@ViewData["LoginProvider"]</strong>.
            @Localizer["Please"]
        </p>
        <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">@Localizer["Title"]</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
