﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/log_in.css" />
</environment>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>@ViewData["Title"]</h2>
        <h4>@Localizer["Enter"]</h4>
        <hr />
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder=@Localizer["Email"]/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default submit">@Localizer["Submit"]</button>
        </form>
    </div>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</div>


