﻿@{
    ViewData["Title"] = Localizer["Title"];
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/log_in.css" />
</environment>

<header>
    <div class="col-md-4 col-md-offset-4">
        <h2 class="text-danger">@ViewData["Title"]</h2>
        <p class="text-danger">@Localizer["This"]</p>
    </div>   
</header>
