﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = Localizer["Title"];
}


<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/log_in.css" />
</environment>

<div class="row">
    <div class="col-md-4 col-md-offset-4 form-login">
        <h2>@ViewData["Title"]</h2>
        @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();

            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in loginProviders)
                        {
                            if (provider.Name == "Facebook")
                            {
                                <button type="submit" class="btn btn-fb btn-lg" id="social" name="provider" value="@provider.Name" title="@Localizer["Login"] @provider.DisplayName"><i class="fa fa-facebook"></i></button>
                            }
                            else if (provider.Name == "Twitter")
                            {
                                <button type="submit" class="btn btn-tw btn-lg" id="social" name="provider" value="@provider.Name" title="@Localizer["Login"] @provider.DisplayName"><i class="fa fa-twitter"></i></button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-fb btn-lg" id="social" name="provider" value="@provider.Name" title="@Localizer["Login"] @provider.DisplayName"><i class="fa fa-vk"></i></button>
                            }
                        }
                    </p>
                </div>
            </form>
        }
        <section class="login">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder=@Localizer["Email"] />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder=@Localizer["Password"] />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit"class="btn btn-default">@Localizer["Title"]</button>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for=RememberMe>
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p class="center">
                        <a asp-action="ForgotPassword">@Localizer["Forgot"]</a>
                    </p>
                </div>
                <hr />
            </form>
        </section>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

</div>


