﻿@model RegisterViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/log_in.css" />
</environment>

<div class="row">
    <div class="col-md-4 col-md-offset-4 form-register">
        <h2>@ViewData["Title"]</h2>
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Username" class="form-control" placeholder=@Localizer["Username"] />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder=@Localizer["Email"] />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder=@Localizer["Password"] />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder=@Localizer["ConfirmPassword"] />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <h6>@Localizer["Confirm"]</h6>
            <hr />
            <div class="form-group">
                <button type="submit" class="btn btn-default">@Localizer["Register"]</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
