﻿@{
    ViewData["Title"] = Localizer["Title"];
}


<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/log_in.css" />
</environment>

<div class="col-md-4 col-md-offset-4">
    <h2>@ViewData["Title"]</h2>
    <p>
        @Localizer["Your"]<a asp-action="Login">@Localizer["Click"]</a>.
    </p>
</div>

