﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var userRoles = await UserManager.GetRolesAsync(UserOperation.GetCurrentUser(User));
}

<link rel="stylesheet" type="text/css" href="~/css/admin.css">
<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            @if (userRoles.Contains("Admin"))
            {
                <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                    <div class="navi">
                        <ul>
                            <li><a asp-controller="User" asp-action="Profile"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">@Localizer["Home"]</span></a></li>
                            <li><a asp-controller="User" asp-action="Statistics"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">@Localizer["Statistic"]</span></a></li>
                            <li class="active"><a asp-controller="User" asp-action="Admin"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">@Localizer["Users"]</span></a></li>
                            <li><a asp-controller="Manage" asp-action="Index"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">@Localizer["Setting"]</span></a></li>
                        </ul>
                    </div>
                </div>
            }
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                
                <div class="user-dashboard">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @RenderSection("Scripts", required: false)
}