﻿@model FanfikSite.Models.UserViewModels.UsersViewModel
@{
    ViewData["Title"] = Localizer["Home"];
}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="~/css/users.css">

<br><br>
<div class="container">
    <div class="well span8">

        @foreach (var user in Model.Users)
        {
            <div class="row-fluid user-row user_@user.User.Id">
                <div class="span1">
                    @if (user.User.Avatar != null)
                    {
                        <img class="img-circle"
                             src="@user.User.Avatar"
                             alt="@Localizer["UserPic"]">
                    }
                    else
                    {
                        <img class="img-circle"
                             src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                             alt="@Localizer["UserPic"]">
                    }
                </div>

                <div class="span10">
                    <strong>@user.User.UserName</strong><br>
                    <span class="text-muted">
                        @if (user.Roles.Contains("Admin"))
                        {
                            <p>@Localizer["Admin"]</p>

                        }
                        else
                        {
                            <p>@Localizer["UserSlave"]</p> 
                        }
                        
                    </span>
                </div>
                <div class="span1 dropdown-user" data-for=".@user.User.UserName.Replace(".","").Replace("@","")">
                    <i class="icon-chevron-down text-muted"></i>
                </div>
            </div>
            <div class="row-fluid user-infos @user.User.UserName.Replace(".","").Replace("@","") info_@user.User.Id">
                <div class="span10 offset1">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Localizer["Information"]</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row-fluid">
                                <div class="span3">
                                    @if (user.User.Avatar != null)
                                    {
                                        <img class="img-circle"
                                             src="@user.User.Avatar"
                                             alt="@Localizer["UserPic"]">
                                    }
                                    else
                                    {
                                        <img class="img-circle"
                                             src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                                             alt="@Localizer["UserPic"]">
                                    }
                                </div>
                                <div class="span6">
                                    <strong>@user.User.UserName</strong><br>
                                    <table class="table table-condensed table-responsive table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>@Localizer["Level"]</td>
                                                @if (user.Roles.Contains("Admin"))
                                                {
                                                    <td>@Localizer["Administrator"]</td>

                                                }
                                                else
                                                {
                                                    <td>@Localizer["Slave"]</td>
                                                }
                                            </tr>
                                            <tr>
                                                <td>@Localizer["Registered"]</td>
                                                <td>11/12/2013</td>
                                            </tr>
                                            <tr>
                                                <td>@Localizer["Fanfiks"]</td>
                                                <td>@user.User.Fanfiks.Count</td>
                                            </tr>
                                            <tr>
                                                <td>@Localizer["Commnets"]</td>
                                                <td>@user.User.Comments.Count</td>
                                            </tr>
                                            <tr>
                                                @if ((user.User.LockoutEnd == null) || (user.User.LockoutEnd <= DateTime.Now))
                                                {
                                                    <td><button class="btn btn-primary block" data-id="@user.User.Id">Block</button></td>
                                                    <td><button class="btn btn-primary unblock" data-id="@user.User.Id" style="display:none">Unblock</button></td>

                                                }
                                                else
                                                {
                                                    <td><button class="btn btn-primary unblock" data-id="@user.User.Id">Unblock</button></td>
                                                    <td><button class="btn btn-primary block" data-id="@user.User.Id" style="display: none">Block</button></td>
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="height:50px">
                            @if (!user.Roles.Contains("Admin"))
                            {
                                <button class="btn btn-primary add-admin" data-id="@user.User.Id" type="button"
                                        data-toggle="tooltip"
                                        data-original-title="Add admin">
                                    <i class="fa fa-address-book "></i>
                                </button>
                            }
                            <span class="pull-right">
                                <button class="btn btn-danger delete" data-id="@user.User.Id" type="button"
                                        data-toggle="tooltip"
                                        data-original-title="Remove this user">
                                    <i class="icon-remove icon-white"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        }
        
    </div>
</div>

<environment include="Development">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/js/admin.js"></script>
</environment>