﻿@model FanfikSite.Models.UserViewModels.UserViewModel
@{
    ViewData["Title"] = Localizer["Home"];
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/profile.css" />
</environment>

<div>
    <div class="row">
        <div class="col-md-3 user">
            <div class="user_photo">
                @if (Model.User.Avatar != null)
                {
                    <img src="@Model.User.Avatar" />
                }
                else
                {
                    <img src="~/images/no_avatar.png" />
                }
                <h4>@Model.User.UserName</h4>
            </div>
            <div class="display_count_story_comment">
                <div class="row">
                    <h5>@Localizer["Fanfiks"] @Model.User.Fanfiks.Count</h5>
                </div>
                <div class="row">
                    <h5>@Localizer["Comments"] @Model.User.Comments.Count</h5>
                </div>
                <div class="row">
                    @if (UserOperation.GetCurrentUser(User).Theme == "Dark")
                    {
                        <a class="btn btn-default" name="changeTheme" id="changeTheme" onclick="chageTheme()">Light Theme</a>
                    }
                    else
                    {
                        <a class="btn btn-default" name="changeTheme" id="changeTheme" onclick="chageTheme()">Dark Theme</a>
                    }

                    <input type="hidden" name="userId" id="userId" value="@Model.User.Id">

                </div>
                <div class="row">
                    <a asp-controller="Manage" asp-action="Index"><h5>@Localizer["Settings"]</h5></a>
                </div>
                <div class="local">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </div>

        </div>
        <div class=" col-md-9 user_character">
            <table class="table">
                <tbody>
                    <tr>
                        <td><p>@Localizer["Email"]</p></td>
                        <td><p class="right">@Model.User.Email</p></td>
                    </tr>
                    <tr>
                        <td><p>@Localizer["Phone"]</p></td>
                        <td><p class="right">@Model.User.PhoneNumber</p></td>
                    </tr>
                    <tr>
                        <td><a asp-controller="Post" asp-action="CreatePost" asp-route-id="@Model.User.Id" class="btn btn-default"><h4 class="button">@Localizer["WriteStory"]</h4></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="story col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><p class="text-center">@Localizer["Image"]</p></th>
                    <th scope="col"><p class="text-center">@Localizer["Title"]</p></th>
                    <th scope="col"><p class="text-center">@Localizer["CreationDate"]</p></th>
                </tr>
            </thead>
            <tbody>
            @{
                var id = 0;
                @foreach (var fanfik in Model.User.Fanfiks)
                {
                    <tr class="list_story">
                        <td><img src="@fanfik.Image" style="width:100px; height:auto"/></td>
                        <td  id="@id">
                        <p class="text-center">
                            <a asp-action="Get" asp-controller="Post" asp-route-id="@fanfik.Id">@fanfik.Title</a>
                        </p></td>
                        <td><p class="text-center">@fanfik.Created</p></td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

<environment include="Development">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/js/profile.js"></script>
</environment>