﻿@model FanfikSite.Models.UserViewModels.StatViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

@{
    float newFanfikDay = Model.TodayFanfiksCount / Model.FanfiksCount * 100;
    float newUsersDay = Model.TodayUserCount / Model.UsersCount * 100;
    float newCommentsDay = Model.TodayCommentCount / Model.CommentsCount * 100;

    float newFanfikMounth = Model.MounthFanfiksCount / Model.FanfiksCount * 100;
    float newUsersMounth = Model.MounthUserCount / Model.UsersCount * 100;
    float newCommentsMounth = Model.MounthCommentCount / Model.CommentsCount * 100;
}

<link rel="stylesheet" type="text/css" href="~/css/stat.css">

<div>
    <div class="row">
        <div class="col-md-4">
            <div class="dash-box dash-box-color-1">
                <div class="dash-box-icon">
                    <i class="glyphicon glyphicon-duplicate"></i>
                </div>
                <div class="dash-box-body">
                    <span class="dash-box-count">@Model.FanfiksCount</span>
                    <span class="dash-box-title">@Localizer["Fanfiks"]</span>
                </div>

                <div class="dash-box-action">
                    <button>@Localizer["MoreInfo"]</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dash-box dash-box-color-2">
                <div class="dash-box-icon">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
                <div class="dash-box-body">
                    <span class="dash-box-count">@Model.UsersCount</span>
                    <span class="dash-box-title">@Localizer["Users"]</span>
                </div>

                <div class="dash-box-action">
                    <button>@Localizer["MoreInfo"]</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dash-box dash-box-color-3">
                <div class="dash-box-icon">
                    <i class="glyphicon glyphicon-comment"></i>
                </div>
                <div class="dash-box-body">
                    <span class="dash-box-count">@Model.CommentsCount</span>
                    <span class="dash-box-title">@Localizer["Comments"]</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-9">
            <div class="row">
                <div class="col col-md-5">
                    <h4>@Localizer["TodayStats"]</h4>

                    @Model.TodayFanfiksCount @Localizer["Fanfiks"]<span class="pull-right strong">  + @newFanfikDay %</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@newFanfikDay" aria-valuemin="0" aria-valuemax="100" style="width:@((int)newFanfikDay)%">@((int)newFanfikDay) %</div>
                    </div>

                    @Model.TodayUserCount @Localizer["NewUsers"]<span class="pull-right strong">+ @newUsersDay %</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@newUsersDay" aria-valuemin="0" aria-valuemax="100" style="width:@((int)newUsersDay)%">@((int)newUsersDay) %</div>
                    </div>

                    @Model.TodayCommentCount @Localizer["Comments"]<span class="pull-right strong">+ @newCommentsDay %</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@newCommentsDay" aria-valuemin="0" aria-valuemax="100" style="width:@((int)newCommentsDay)%">@((int)newCommentsDay) %</div>
                    </div>
                </div>

                <div class="col col-md-5">
                    <h4>@Localizer["ThisMonthStats"]</h4>
                     
                    @Model.MounthFanfiksCount @Localizer["Fanfiks"]<span class="pull-right strong">  + @newFanfikMounth %</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@newFanfikMounth" aria-valuemin="0" aria-valuemax="100" style="width:@((int)newFanfikMounth)%">@((int)newFanfikMounth) %</div>
                    </div>

                    @Model.MounthUserCount @Localizer["NewUsers"]<span class="pull-right strong">+ @newUsersMounth %</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@newUsersMounth" aria-valuemin="0" aria-valuemax="100" style="width:@((int)newUsersMounth)%">@((int)newUsersMounth) %</div>
                    </div>

                    @Model.MounthCommentCount @Localizer["Comments"]<span class="pull-right strong">+ @newCommentsMounth %</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@newCommentsMounth" aria-valuemin="0" aria-valuemax="100" style="width:@((int)newCommentsMounth)%">@((int)newCommentsMounth) %</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>