@using Microsoft.AspNetCore.Identity
@using FanfikSite.Models

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    var userRoles = await UserManager.GetRolesAsync(UserOperation.GetCurrentUser(User));
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">

            @if (userRoles.Contains("Admin"))
            {
                <li><a asp-controller="User" asp-action="Profile">@Localizer["MyProfile"]</a></li>
            }
            else
            {
                <li><a asp-area="" asp-controller="User" asp-action="Profile">@Localizer["MyProfile"]</a></li>
            }
            
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["Logout"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a></li>
    </ul>
}
