﻿@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<environment include="Develop">
    <link rel="stylesheet" href="~/css/manage.css" />
</environment>

<h2>@Localizer["Manage"]</h2>
<div>
    <h4>@Localizer["Change"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-2">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
