﻿@using FanfikSite.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}


<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/ManageNav.css" />
</environment>

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext) li"><a asp-action="Index">@Localizer["Profile"]</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) li"><a asp-action="ChangePassword">@Localizer["Password"]</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) li"><a asp-action="ExternalLogins">@Localizer["ExternalLogins"]</a></li>
    }
</ul>

