﻿@model ExternalLoginsViewModel
@{
    ViewData["Title"] = Localizer["Title"];
    ViewData.AddActivePage(ManageNavPages.ExternalLogins);
}

<environment include="Develop">
    <link rel="stylesheet" href="~/css/manage.css" />
</environment>

@Html.Partial("_StatusMessage", Model.StatusMessage)
@if (Model.CurrentLogins?.Count > 0)
{
    <h4>@Localizer["Registered"]</h4>
    <table class="table">
        <tbody>
            @foreach (var login in Model.CurrentLogins)
            {
                <tr>
                    <td>@login.LoginProvider</td>
                    <td>
                        @if (Model.ShowRemoveButton)
                        {
                            <form asp-action="RemoveLogin" method="post">
                                <div>
                                    <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                    <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                    <button type="submit" class="btn btn-default" title="Remove this @login.LoginProvider login from your account">@Localizer["Remove"]</button>
                                </div>
                            </form>
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.OtherLogins?.Count > 0)
{
    <h4>@Localizer["Add"]</h4>
    <hr />
    <form asp-action="LinkLogin" method="post" class="form-horizontal">
        <div id="socialLoginList">
            <style>
                button#social {
                    border-radius: 100px;
                    margin-left: 2px;
                    margin-right: 2px;
                    padding: 6px;
                    width: 40px;
                }
                i{
                    color: #000000;
                }
            </style>
            <p>
                @foreach (var provider in Model.OtherLogins)
                {
                    if (provider.Name == "Facebook")
                    {
                        <button type="submit" class="btn btn-fb btn-lg" id="social" name="provider" value="@provider.Name" title="@Localizer["Log"] @provider.DisplayName @Localizer["Account"]"><i class="fa fa-facebook"></i></button>
                    }
                    else if (provider.Name == "Twitter")
                    {
                        <button type="submit" class="btn btn-tw btn-lg" id="social" name="provider" value="@provider.Name" title="@Localizer["Log"] @provider.DisplayName @Localizer["Account"]"><i class="fa fa-twitter"></i></button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-fb btn-lg" id="social" name="provider" value="@provider.Name" title="@Localizer["Log"] @provider.DisplayName @Localizer["Account"]"><i class="fa fa-vk"></i></button>
                    }
                }
            </p>

        </div>
    </form>
}
